html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  margin: 0px;
}

.Game2DCanvas {
  width: 78%;
  margin-top: 60px;
  max-width: 1500px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  /* border: 10px dashed darkgoldenrod; */
  /* border: 20px dashed #000; */
  /* border: 5px solid pink; */
}
